.myAlert {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
    
}

.myAlertContent {
    min-height: 26%;
    background: #3D3D3D;
    width: 35%;
    
    border-radius: 16px;
    overflow: hidden;
    
}

.myAlertTitleBlock {
    height: 5%;
    display: flex;
    align-items: center;
    background: yellow;
    border-top-left-radius: 16px; /* Устанавливаем скругление левого верхнего угла */
    border-top-right-radius: 16px; /* Устанавливаем скругление правого верхнего угла */
    
}

.titleContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.myAlertTitle {
    font-size: 180%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.starFormLeft {
    width: 7%;

}

.starFormRight {
    width: 10%;
    margin-top: -6%;
}

.myAlert.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 1s;
}

.infoBlock {
    margin-top: 3%;
    width: 100%;
    display: block;
    justify-content: center;
    margin: 3% auto;
}

.myAlertBlock {
    display: block;
    justify-content: center;
    height: 10%;
    
}

.myAlertText{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 120%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.myAlertblockBtn {
    display: flex;
    justify-content: center;
    height: 30%;
    margin-top: 3%;
}

.myAlertCloseBtn {
    width: 25%;
    height: 40%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #FC7EE4;
    font-weight: bold;
}

@media (max-width: 1085px) {
    .myAlertTitle {
        font-size: 150%;
    }
}

@media (max-width: 1085px) {
    .myAlertText {
        font-size: 90%;
    }
}

@media (max-width: 1085px) {
    .myAlertCloseBtn {
        font-size: 80%;
    }
}

@media (max-width: 900px) {
    .myAlertTitle {
        font-size: 130%;
    }
}

@media (max-width: 900px) {
    .myAlertText {
        font-size: 70%;
    }
}

@media (max-width: 900px) {
    .myAlertCloseBtn {
        font-size: 60%;
    }
}

@media (max-width: 680px) {
    .myAlertTitle {
        font-size: 100%;
    }
}

@media (max-width: 680px) {
    .myAlertText {
        font-size: 60%;
    }
}

@media (max-width: 680px) {
    .myAlertCloseBtn {
        font-size: 50%;
    }
}

@media (max-width: 680px) {
    .myAlertContent {
        width: 60%;
    }
}

