* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
}

#root {
   
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    
}

.App {
    width: 100%;
    height: 100%;
    margin: auto;
}

main {
    background-color: #1A1B1C;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}


.application_section {
    height: auto;
     width: 100%;
     border: 2px solid red;
     margin: 0;
     padding: 0;
     position: relative;
 }
 
 .lowBack1 {
     height: auto;
     width: 100%;
     position: absolute;
     z-index: 0;
 }


.logo_container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23%; /* Выравнивание по вертикали */
  }

.logo {
    z-index: 1;
    margin: 1% 0;
    width: 40%;
    height: 10%;

}

.application_container {
    position: relative;
    height: 15%;
    z-index: 1;
    margin-bottom: 40%;
}

.applicationBtn {
    z-index: 1;
    width: 29%;
    height: 45%;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 10%;
    scroll-behavior: smooth;
    cursor: pointer;
}
.applicationBtn p {
    font-weight: bold;
    font-size: 200%;
    margin: 0;
}

.buttons_section {
    height: auto;
    border: 2px solid teal;
}

.service_container {
    display:flex;
    margin-bottom: 5%;
  }

.section_container_subblock {
    margin-left: 10%;
    display:flex;
    flex-direction: column;
    height: 80%;
    width: 30%;
    margin-bottom: 5%;
}

.practicalWorkBtn {
    width: 130%;
    height: 65%;
    border: 3px solid black;
    border-radius: 60px;
    background-color: #0F775E;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 4%;
    z-index: 1;
}

.practicalWorkBtn p {
    margin: 0;
    font-size: 250%;
}

.courseBtn {
    width: 130%;
    height: 65%;
    border: 3px solid black;
    border-radius: 60px;
    background-color: #EDE73B;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 4%;
}

.courseBtn p {
    margin: 0;
    font-size: 250%;
}

.literatureBtn {
    background-color: #DD7800;
    width: 130%;
    height: 65%;
    border: 3px solid black;
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 4%;
}

.literatureBtn p {
    margin-bottom: 0;
    font-size: 250%;
}

.diplomaBtn {
    width: 130%;
    height: 65%;
    border: 3px solid black;
    border-radius: 60px;
    font-weight: bold;
    background-color: #FFF2ED;
    cursor: pointer;
    margin-bottom: 4%;
    z-index: 1;
    
}


.diplomaBtn p {
    margin: 0;
    font-size: 250%;
}

.scientificWorkBtn {
    width: 130%;
    height: 65%;
    border: 3px solid black;
    border-radius: 60px;
    font-weight: bold;
    background-color: #47C3F1;
    cursor: pointer;
    margin-bottom: 4%;
}

.scientificWorkBtn p {
    margin: 0;
    font-size: 250%;
}

.practiceReportBtn {
    width: 130%;
    height: 65%;
    border: 3px solid black;
    border-radius: 60px;
    font-weight: bold;
    background-color: #FC7EE4;
    cursor: pointer;
}
.practiceReportBtn p {
    margin: 0;
    font-size: 250%;
}

.section_advantages {
    height: auto;
    border: 1px solid yellow;
    display: flex;
   background-color: #1A1B1C;
}

.section_advantages_image_block {
    width: 35%; /* Устанавливаем фиксированную ширину, которая меньше 620px */
    margin-left: 3%;
}

.starICan {
    width: 100%; /* Устанавливаем ширину картинки в 100% от родительского контейнера */
    max-width: 450px; /* Опционально, устанавливаем максимальную ширину картинки */
}

.section_advantages_block {
    margin-top: 4%;
    display: flex;

}

.section_advantages_subblock {
    margin-right: 10%;
}

.advantage_block {
    width: 100%;
    height: 16%;
     background-color: #343636;
    border: 3px solid black;
    border-radius: 25px;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.advantage_block h2 {
    margin: 0;
}

.advantage_block_image {
    width: 35%;
    margin-left: 4%;
    margin-right: -5%;
}

.advantage_block_image1 {
    margin-right: 4%;
    margin-left: 4%;
}

.Ad_image {
    width: 45%;
    height: auto;
}

.Ad1_image {
    width: 70%;
    height: auto;
}

.Ad2_image {
    width: 60%;
    height: auto;
}

.advantage_text {
    font-family: 'Inter', sans-serif;
    color: #EDE73B;
    font-size: 170%;
}
.advantage_block_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_feedback {
    height: auto;
    width: 100%;
    border: 2px solid red;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 20%;
}

.GroupFeedBack {
    position: absolute;
    z-index: 0;
    position: contain;
}

.title {
    z-index: 1;
    margin: 1% 0;
    width: 100%;
    position: relative;
    margin-top: -3%;
}

.title_block {
    position: relative;
    height: 15%;
    z-index: 1;
    margin-bottom: 12%;
}

.feedbacks2_block {
    
    height: 54%;
    display: flex;
    z-index: 1;
    justify-content: center;
}

.feedback_block {
    height: 100%;
    width: 30%;
    margin-right: 5%;
    background-color: #EDE73B;
    z-index: 1;
    border: 2px solid black;
    border-radius: 20px;
}

.title_feedback_block {
    padding: 1%;
    display: flex;
    align-items: center;
}

.avaImg {
    margin-left: 5%;
    height: 50%;
    width: 20%;
    margin-right: 10%;
}

.title_feedback_block h3 {
    font-family: 'Inter', sans-serif;
    font-size: 220%;
    font-weight: bold;
    margin-top: 2%;
}

.feedback_block_content {
    padding: 5%;
}

.feedback_block_content p {
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    font-weight: bold;
}



.link_block {
    margin-top: 2%;
    z-index: 2;
    height: 5%;
    position: relative;
    margin-left: 50%;
    display: flex;
    align-items: center;
}

.link_feedback {
    font-size: 200%;
    z-index: 2;
    color: #EDE73B;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1%;
    font-family: 'Inter', sans-serif;
}
.link_feedback:hover {
    color: #EDE73B;
}

.link_block img {
    width: 2,5%;
    margin-top: 1%;
    transform: rotate(1deg);
    cursor: pointer;
}


.prepayment_section {
    height: auto;
    width: auto;
    border: 2px solid teal;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;

}

.prepaymentImg {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    position: contain;
}

.Title2_block {
    margin-bottom: -7%;
    display: flex;
    justify-content: center;
}

.Title2 {
    z-index: 1;
    width: 50%;
    position: relative;
    
}

.prepayment_block {
    position:absolute;
    z-index: 2;
    width: 70%;
    height: 70%;
    border: 3px solid black;
    border-radius: 3ex;
    background-color: rgba(7, 6, 6, 0.7);
    margin: 0 auto; 
    margin-top: 5%;
    padding: 6%;
    top: 50%; /* Положение сверху в 50% от родительской секции */
    left: 50%; /* Положение слева в 50% от родительской секции */
    transform: translate(-50%, -50%);
}

.prepayment_block_text p {
    font-size: 200%;
    opacity: 1.5;
    color: #FFF2ED;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-weight: bold;
}

.prepayment_block_img_block {
    display: flex;
    width: 80%;
}

.exCourse1,
.exCourse2 {
    width: 50%;
    height: 70%;
    margin-right: 30%;
}





.section_about {
   height: auto;
    width: 100%;
    border: 2px solid red;
    margin: 0;
    padding: 0;
    position: relative;
}

.groupLines {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.frame {
    width: 15%;
    position: absolute; 
    z-index: 3;
    margin-top: 9%;
    margin-left: 22%;
  }
  
  .sale {
    width: 22%;
    position: absolute; 
    z-index: 2;
    margin-left: 28%;
    margin-top: 6%;
  }

.block_about{
    margin-top: 20%;
    z-index: 1;
    width: 55%;
    height: 50%;
    border: 2px solid black;
    border-radius: 2ex;
    position: relative;
    background: linear-gradient(48deg, rgba(252, 126, 228, 0.00) 65.8%, rgba(252, 126, 228, 0.20) 65.85%), #FFF2ED;
    padding: 1%;
    margin-bottom: 30%;
    margin-left: 10%;
}


.section_about_title {
    font-family: 'Inter', sans-serif;
    margin-left: 6%;
    margin-top: 5%;
    font-size: 400%;
    font-weight: bold;
    

}

.block_about_text {
    margin-left: 6%;
    padding: 0;
    width: 90%;
    height: 80%;
    border: 1px solid red;
    margin-top: 4%;
}

.section_about_text {
    font-weight: bold;
    font-size: 200%;
    font-family: 'Inter', sans-serif;

}

.tg {
    margin-left: 1%;
    margin-top: 5%;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
    color: #000;
}
  


  .human {
    width: 35%;
    position: absolute;
    margin-left: 65%;
    margin-top: -77%;
    z-index: 3;
    margin-right: -15%;
  }

.input_section {
    z-index: 1;
    height: auto;
    background-color: #EDE73B;
    margin-top: -19%;
    padding-top: 5%;
}

.nameInputBlock {
    display: flex;
    justify-content:flex-start;
    margin-left: 50%;
    margin-bottom: 30px;
}
  
.TextPlaceholder {
    font-family: 'Inter', sans-serif;
    margin-right: 10px;
}

.settingInput {
    border-radius: 15px;
    width: 60%;
    padding-left: 1%;
}

.tgInputBlock {
    display: flex;
    justify-content:flex-start;
    margin-left: 240px;
    margin-bottom: 30px;
}

.mailInputBlock {
    display: flex;
    justify-content:flex-start;
    margin-left: 280px;
    margin-bottom: 30px;
}

.problemInputBlock {
    display: flex;
    justify-content:flex-start;
    margin-left: 230px;
    margin-bottom: 30px;
}

.settingSelect {
    border-radius: 15px;
    width: 300px;
    border: 2px solid black;
    appearance: none;
    background: url('../icons/Polygon2.png') no-repeat right center;
    background-position: right 10px center;
    background-size: 15px 15px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}

  .commentInputBlock {
    display: flex;
    justify-content:flex-start;
    margin-left: 190px;
    margin-bottom: 60px;
  }

.settingComInput {
    min-width: 700px;
    max-width: 700px;
    border-radius: 15px;
    min-height: 100px;
    padding: 5px;
    max-height: 250px;
    border: 2px solid black;
}

.buttonBlock {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sendBtn {
    width: 500px;
    height: 75px;
    border: 3px solid black;
    border-radius: 60px;
    background-color: #FC7EE4;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-size: contain;
    border-radius: 8px;
    border: 3px solid #181818;
}
::-webkit-scrollbar {
    width: 2%;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #181818;
}

::-webkit-scrollbar-thumb {
    background:#EDE73B;
    border-color: #181818;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
    border-color: #181818;
    opacity: 0;
}

@media (max-width: 897px) {
    .applicationBtn p {
        font-size: 160%;
    }
}

@media (max-width: 745px) {
    .applicationBtn p {
        font-size: 100%;
    }
}

@media (max-width: 500px) {
    .applicationBtn p {
        font-size: 60%;
    }
}

@media (max-width: 1115px) {
    .practicalWorkBtn p {
        font-size: 200%;
    }
}

@media (max-width: 925px) {
    .practicalWorkBtn p {
        font-size: 150%;
    }
}
@media (max-width: 710px) {
    .practicalWorkBtn p {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .practicalWorkBtn p {
        font-size: 70%;
    }
}

@media (max-width: 1115px) {
    .courseBtn p {
        font-size: 200%;
    }
}

@media (max-width: 925px) {
    .courseBtn p {
        font-size: 150%;
    }
}

@media (max-width: 710px) {
    .courseBtn p {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .courseBtn p {
        font-size: 70%;
    }
}

@media (max-width: 1115px) {
    .literatureBtn p {
        font-size: 200%;
    }
}

@media (max-width: 925px) {
    .literatureBtn p {
        font-size: 150%;
    }
}

@media (max-width: 710px) {
    .literatureBtn p {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .literatureBtn p {
        font-size: 70%;
    }
}

@media (max-width: 1115px) {
    .diplomaBtn p {
        font-size: 200%;
    }
}

@media (max-width: 925px) {
    .diplomaBtn p {
        font-size: 150%;
    }
}

@media (max-width: 710px) {
    .diplomaBtn p {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .diplomaBtn p {
        font-size: 70%;
    }
}

@media (max-width: 1115px) {
    .scientificWorkBtn p {
        font-size: 200%;
    }
}

@media (max-width: 925px) {
    .scientificWorkBtn p {
        font-size: 150%;
    }
}

@media (max-width: 710px) {
    .scientificWorkBtn p {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .scientificWorkBtn p {
        font-size: 70%;
    }
}

@media (max-width: 1115px) {
    .practiceReportBtn p {
        font-size: 200%;
    }
}

@media (max-width: 925px) {
    .practiceReportBtn p {
        font-size: 150%;
    }
}

@media (max-width: 710px) {
    .practiceReportBtn p {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .practiceReportBtn p {
        font-size: 70%;
    }
}

@media (max-width: 1340px) {
    .advantage_text {
        font-size: 130%;
    }
}

@media (max-width: 1185px) {
    .advantage_text {
        font-size: 100%;
    }
}

@media (max-width: 965px) {
    .advantage_text {
        font-size: 70%;
    }
}

@media (max-width: 730px) {
    .advantage_text {
        font-size: 50%;
    }
}

@media (max-width: 420px) {
    .advantage_text {
        font-size: 35%;
    }
}

@media (max-width: 1360px) {
    .title_feedback_block h3 {
        font-size: 190%;
    }
}

@media (max-width: 1360px) {
    .feedback_block_content p {
        font-size: 110%;
    }
}

@media (max-width: 1000px) {
    .title_feedback_block h3 {
        font-size: 140%;
    }
}

@media (max-width: 1000px) {
    .feedback_block_content p {
        font-size: 80%;
    }
}


@media (max-width: 750px) {
    .title_feedback_block h3 {
        font-size: 100%;
    }
}

@media (max-width: 750px) {
    .feedback_block_content p {
        font-size: 40%;
    }
}

@media (max-width: 537px) {
    .title_feedback_block h3 {
        font-size: 65%;
    }
}

@media (max-width: 537px) {
    .feedback_block_content p {
        font-size: 30%;
    }
}

@media (max-width: 1360px) {
    .link_feedback {
        font-size: 170%;
    }
}

@media (max-width: 1110px) {
    .link_feedback {
        font-size: 130%;
    }
}

@media (max-width: 800px) {
    .link_feedback {
        font-size: 100%;
    }
}

@media (max-width: 430px) {
    .link_feedback {
        font-size: 70%;
    }
}

@media (max-width: 1360px) {
    .prepayment_block_text p {
        font-size: 138%;
    }
}

@media (max-width: 900px) {
    .prepayment_block_text p {
        font-size: 100%;
    }
}

@media (max-width: 675px) {
    .prepayment_block_text p {
        font-size: 70%;
    }
}


@media (max-width: 520px) {
    .prepayment_block_text p {
        font-size: 40%;
    }
}

 @media (max-width: 370px) {
    .prepayment_block_text p {
        font-size: 35%;
    }
}

@media (max-width: 1360px) {
    .section_about_text {
        font-size: 160%;
    }
}

@media (max-width: 1360px) {
    .tg {
        font-size: 90%;
    }
}

@media (max-width: 1360px) {
    .section_about_title {
        font-size: 350%;
    }
}

@media (max-width: 1115px) {
    .section_about_text {
        font-size: 130%;
    }
}

@media (max-width: 1115px) {
    .tg {
        font-size: 90%;
    }
}

@media (max-width: 1115px) {
    .section_about_title {
        font-size: 300%;
    }
}

@media (max-width: 905px) {
    .section_about_text {
        font-size: 100%;
    }
}

@media (max-width:905px) {
    .tg {
        font-size: 100%;
    }
}

@media (max-width: 905px) {
    .section_about_title {
        font-size: 250%;
    }
}

@media (max-width: 695px) {
    .section_about_text {
        font-size: 70%;
    }
}

@media (max-width:695px) {
    .tg {
        font-size: 100%;
    }
}

@media (max-width: 695px) {
    .section_about_title {
        font-size: 200%;
    }
}

@media (max-width: 500px) {
    .section_about_text {
        font-size: 50%;
    }
}

@media (max-width: 500px) {
    .section_about_title {
        font-size: 150%;
    }
}

@media (max-width: 345px) {
    .section_about_text {
        font-size: 40%;
    }
}

@media (max-width: 345px) {
    .section_about_title {
        font-size: 120%;
    }
}